<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: header">
        <title>Arbol Genealogico</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>        
    </head>
    <body  style="color:white;background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div th:replace="layout :: menu"></div>
        <div>
            <select class="browser-default custom-select consultasSelect">
                <option value="0">Elija una consulta</option>
                <option value="1">Traer Padres</option>
                <option value="2">Traer Hijos</option>
                <option value="3">Traer Hermano</option>                
            </select>
            <select class="browser-default custom-select consultasSelect">
                <option th:each="persona : ${listaPersonas}" th:text="${persona.getNombre()}"  value="${persona.getId()}"></option>
            </select>
        </div>
        <div th:replace="layout :: footer"></div>
    </body>
</html>