<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: header">
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <script src="../static/js/app.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body class="view">
        <div th:replace="layout :: menu"></div>
        <div id="superiorPersonas" style="color: white">
                <div id="padrePersona">
                    <img src="../static/css/man1.png" style="height: 120px ; width: 120px ; cursor: pointer" th:attr="id=${padre.getId()}" onclick="sendFocus2(this)" /> 
                    <br />
                    <ul style="list-style: none;margin-left:65%;margin-top: -56%">
                        <li th:text="${padre.getNombre()}"></li>
                        <li th:text="${padre.getApellido()}"></li>
                    </ul>
                        
                </div>
                <div id="madrePersona">
                    <img src="../static/css/woman1.png" style="height: 120px ; width: 120px ; cursor: pointer" th:attr="id=${madre.getId()}" onclick="sendFocus2(this)" />
                    <br />
                    <ul style="list-style: none;margin-left:65%;margin-top: -56%">
                        <li th:text="${madre.getNombre()}"></li>
                        <li th:text="${madre.getApellido()}"></li>                    
                    </ul>
                </div>
            </div>
        <div id="focusPersona" style="color: white">
            <img src="../static/css/man2.png" style="height: 120px ; width: 120px ; cursor: pointer ; margin-left: -5%" />
                <ul style="list-style: none;margin-left: 8%;margin-top: -11%">
                    <li th:text="${persona.getNombre()}"></li>
                    <li th:text="${persona.getApellido()}"></li>
                </ul>
            </div>
        
        
        <div th:replace="layout :: footer"></div>
    </body>
</html> 

